baseURL: https://example.org/
languageCode: en-us
title: My New Hugo Site

# import hextra as module
#module:
#  imports:
#    - path: github.com/imfing/hextra

markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    noClasses: false

module:
  mounts:
    - source: assets
      target: assets
    - source: hugo_stats.json
      target: assets/watching/hugo_stats.json

build:
  writeStats: true
  cachebusters:
    - source: assets/watching/hugo_stats\.json
      target: css
    - source: (postcss|tailwind)\.config\.js
      target: css
    - source: assets/css/.*\.(css)$
      target: css
    - source: assets/js/.*\.(js|ts|jsx|tsx)
      target: js
