{{/* Table of Contents */}}
{{- $toc := .Params.toc | default true -}}
{{- $onThisPage := (T "onThisPage") | default "On this page"}}

<nav class="hextra-toc order-last hidden w-64 shrink-0 xl:block print:hidden px-4"
     aria-label="table of contents">
    {{- if $toc }}
        <div class="hextra-scrollbar sticky top-16 overflow-y-auto pr-4 pt-6 text-sm [hyphens:auto] max-h-[calc(100vh-var(--navbar-height)-env(safe-area-inset-bottom))] ltr:-mr-4 rtl:-ml-4">
            {{if gt (.TableOfContents | len) 32 }}
                <p class="mb-4 font-semibold tracking-tight">{{ $onThisPage }}</p>
                {{ .TableOfContents }}
            {{end}}
        </div>
    {{ end -}}
</nav>